.slides {
   position: relative;
   display: table;
   height: 100%;
   width: 100%;
}

.slides .slide {
	display: table-cell;
	vertical-align: middle;
	position: relative;	
	width: 100%;
	padding: 50px 200px;
	font-size: 50px;
}
h1, .h1 {
	line-height: 1.3 em;
	letter-spacing: -1px;
	margin-bottom: .5em;
	font-family: 'Oswald', sans-serif;
}

h1.x-large {
	text-align: left;
	font-size: 40px;
}

h1.large {
	font-size: 60px;
}

h1.normal {
	font-size: 100px;
}